@media (min-width: 640px) {

  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card {
    text-align: left;
  }
}

/* ===== HERO HOME PAGE (LARGE VIEW) ===== */
.hero {
  padding: 6rem 2rem;
}

.hero h2 {
  font-size: 2.6rem;
}

.hero p {
  font-size: 1.25rem;
}

@media (min-width: 641px) {
  .cards {
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6"
      "card7 card8";
  }

  .card img {
    transition: transform 0.3s, filter 0.3s;
  }

  .card img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}

@media (min-width: 1025px) {
  .cards {
    grid-template-areas:
      "card1 card2 card3 card4"
      "card5 card6 card7 card8";
  }
}

