@media (min-width: 640px) {

  nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  #menu {
    display: none;
  }

  #members.grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .card {
    text-align: left;
  }
}

/* ===== HERO HOME PAGE (LARGE VIEW) ===== */
.hero {
  padding: 6rem 2rem;
}

.hero h2 {
  font-size: 2.6rem;
}

.hero p {
  font-size: 1.25rem;
}
